.title, h1 {
  width: 400px;
  text-align: center;
}

.balance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: center;
  align-items: center;
}

.form-input {
  display: block;
  width: 300px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.radio-container {
  display: flex;
  flex-direction: row;
}

.expense-budget-container {
  display: flex;
  align-items: center;
  width: 400px;
}

.expense-container {
  width: 400px;
}

.transaction-container {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  align-items: center;
  width: 400px;
}

.transaction-container p {
  display: inline-block;
}

.expense-indicator {
  width: 20px;
  height: 20px;
  background-color: red;
}

.budget-indicator {
  width: 20px;
  height: 20px;
  background-color: green;
}